@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.productCard {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
        border-color: rgba($primary, 0.1);
    }
}